/* #producto-promocion1 { display: block; }
#producto-promocion2 { display: none; }
#producto-promocion3 { display: none; }
#producto-promocion4 { display: none; }
#producto-promocion5 { display: none; } */

#producto-componente1 { display: block; }
#producto-componente2 { display: none; }
#producto-componente3 { display: none; }
#producto-componente4 { display: none; }
#producto-componente5 { display: none; }

#producto-laptop1 { display: block; }
#producto-laptop2 { display: none; }
#producto-laptop3 { display: none; }
#producto-laptop4 { display: none; }
#producto-laptop5 { display: none; }

#producto-almacenamiento1 { display: block; }
#producto-almacenamiento2 { display: none; }
#producto-almacenamiento3 { display: none; }
#producto-almacenamiento4 { display: none; }
#producto-almacenamiento5 { display: none; }