.slider-box {
    width: 600px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-box .lista-slider {
    display: flex;
    padding: 0;
    width: 500%;
    animation: slide 10s infinite alternate ease-in-out;
}
ol,li {
    font-weight: bold;
}
.slider-box .elemento-slide {
    width: 20%;
    list-style: none;
    position: relative;
}

@keyframes slide {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100%; }
    40% { margin-left: -100%; }
    45% { margin-left: -200%; }
    60% { margin-left: -200%; }
    65% { margin-left: -300%; }
    80% { margin-left: -300%; }
    85% { margin-left: -400%; }
    100% { margin-left: -400%; }
}